
@font-face {
  font-family: "nmr";
  src: url('/asset/fonts/NeueMontreal-Regular.otf');
}
@font-face {
  font-family: "nmm";
  src: url('/asset/fonts/NeueMontreal-Medium.otf');
}
@font-face {
  font-family: "nmb";
  src: url('/asset/fonts/NeueMontreal-Bold.otf');
}
:root{
  --primary: white
  --secondary: #EFEDE9
  --tertiary: #E5FE72
  --main: #131313
}

*{
  margin: 0;
  box-sizing: border-box;
  font-family: "nmr";
  scroll-behavior: smooth;
}
Link{
  text-decoration: none;
  color: inherit;
}
::-webkit-scrollbar{
  width: .5rem;
  background-color: #E5FE72;
  height: .5rem;
}
::-webkit-scrollbar-thumb{
  background-color: #131313;
  
}