.container{
    display: flex;
}
.sidebar{
    flex: 1;
}
.items{
    list-style: none;
}
.item{
    font-size: 1.5rem;
    padding: .75rem .5rem;
    transition: all .5s ease;
}
.item:hover{
    background-color: #E5FE72;
}